body {
  min-height: 100%;
  background: #310b07; }
  body #container {
    background: black;
    width: 79%;
    margin: 0 auto; }

.headerContainer {
  border: 1px solid #5e0c00; }

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; }

.card.abilityCard {
  margin-bottom: 3rem;
  align-items: stretch; }

.selectedCard {
  background-color: crimson; }

.card .title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300; }

.card .content {
  padding: 1.3rem;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
  background-color: #222;
  color: #a18e73; }

.activeCard {
  background-color: black;
  color: white; }

.card p {
  margin: 0; }

.card .action {
  text-align: center;
  padding-top: 1.3rem;
  background-color: #222; }

.card a {
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none; }

.card .image {
  position: relative;
  background-color: #222;
  padding: 1rem 0; }
  .card .image img {
    margin: 0 auto;
    display: block;
    padding-bottom: 2rem;
    height: 15rem; }

.card .image .abilityImage {
  height: 6rem; }

.card .image .title {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  padding: 1.3rem;
  color: #a18e73;
  top: 13.5rem; }

#abilityImage {
  padding-bottom: 2rem; }

#abilityTitle {
  text-align: center;
  width: 100%;
  top: 4rem; }

h1, h2, h4 {
  text-align: center;
  color: #e0b021; }

.classCard {
  margin-top: 4rem; }

#progressBarTitle {
  text-align: center;
  color: #e0b021; }

.classSelectButton, .abilitySelectButton, #charNameSubmit {
  color: #3c3c3c;
  background-color: #e0b021; }
  .classSelectButton:hover, .abilitySelectButton:hover, #charNameSubmit:hover {
    background-color: #af833b;
    color: #3c3c3c; }

.classSelectButton[disabled] {
  transition: .5s; }
  .classSelectButton[disabled]:hover {
    background-color: #ffd700;
    color: black; }

.progressContainer {
  background-color: #222;
  z-index: 100;
  padding: 3rem; }

.progress {
  padding: 0;
  background-color: gray; }

.progress-meter {
  position: relative;
  display: block;
  height: 100%;
  background-color: #c42e3d; }

.progress-meter-oneFourth {
  width: 33.333%;
  transition: 1s; }

.progress-meter-oneHalf {
  width: 66.666%;
  transition: 1s; }

.nameBlock {
  margin-top: 2rem; }
  .nameBlock #charName {
    margin: 0 auto;
    margin-bottom: 2rem; }

#charNameSubmit {
  margin-bottom: 3rem;
  border: 0;
  padding: .5rem 1rem; }

.footer {
  margin: 0 auto;
  padding: 3.2rem;
  bottom: 0;
  background-color: #222;
  color: #a18e73; }
  .footer #charDetails {
    text-align: left; }
