.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; }

.selectedCard {
  background-color: crimson; }

.card .title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300; }

.card .content {
  padding: 1.3rem;
  font-weight: 300;
  border-radius: 0 0 2px 2px; }

.activeCard {
  background-color: black;
  color: white; }

.card p {
  margin: 0; }

.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  text-align: center;
  padding-top: 1.3rem; }

.card a {
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none; }

.card .image {
  position: relative;
  background-color: silver;
  padding: 1rem 0; }
  .card .image img {
    margin: 0 auto;
    display: block;
    padding-bottom: 2rem;
    height: 15rem; }

.card .image .title {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  padding: 1.3rem;
  color: #000; }

h1, h2 {
  text-align: center;
  margin-top: 3rem; }

#progressBarTitle {
  text-align: center; }

.classSelectButton {
  color: #3c3c3c;
  background-color: #ffd700;
  border-radius: 10px; }
  .classSelectButton:hover {
    background-color: #ccac00;
    color: #3c3c3c; }

.classSelectButton[disabled] {
  transition: .5s; }
  .classSelectButton[disabled]:hover {
    background-color: #ffd700;
    color: black; }

.progress {
  padding: 0; }

.progress-meter {
  position: relative;
  display: block;
  height: 100%;
  background-color: #2199e8; }

.progress-meter-oneFourth {
  width: 25%;
  transition: 1s; }

.nameBlock {
  margin-top: 2rem; }
  .nameBlock #charName {
    margin: 0 auto;
    margin-bottom: 2rem; }

.footer {
  position: fixed;
  width: 100%;
  padding: 3rem;
  bottom: 0;
  background-color: gainsboro; }
